---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const workProjects = await getCollection("workProject");

export const getStaticPaths = async (): Promise<
  Array<{ params: { workProject: string } }>
> => {
  const workProjects = await getCollection("workProject");
  return workProjects.map((project) => ({
    params: { workProject: project.id },
  }));
};

const workProject = workProjects.find(
  (project) => project.id === Astro.params.workProject
);
---

<Layout>
  {
    workProject !== undefined && (
      <>
        <title>{workProject.data.title} | Bracket Bear</title>
        <div>Project</div>
        <h2>{workProject.data.title}</h2>
      </>
    )
  }
</Layout>
