---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const workProjects = await getCollection("workProject");

const workProject = workProjects.find(
  (project) => project.id === Astro.params.workProject
);
---

<Layout>
  { workProject && (
    <title>{workProject.data.title} | Bracket Bear</title>
    <div>Project</div>
    <h2>{workProject.data.title}</h2>
  )}
</Layout>
