---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { getKeyedCollection } from "@/utils/content";

const workProjects = await getCollection("workProject");
const workSkillsById = await getKeyedCollection("workSkills");
---

<Layout>
  <title>Projects | Bracket Bear</title>
  <div>Projects</div>
</Layout>
