---
import Layout from "@/layouts/Layout.astro";
import ProjectCardList from "@/components/ProjectCardList.astro";
---

<Layout>
  <title>Projects | Bracket Bear</title>
  <div>Projects</div>
  <div class="container mx-auto flex flex-col items-center justify-center">
    <ProjectCardList />
  </div>
</Layout>
