---
import { BracketBearLogo } from '@bracketbear/core/react';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bracket Bear - Coming Soon</title>
    <style is:global>
      @import '@bracketbear/core/styles/bracketbear.tailwind.css';
      @source '../../../../node_modules/@bracketbear/core/dist';
    </style>
  </head>
  <body class="bg-brand-dark flex min-h-screen items-center justify-center">
    <div class="text-center">
      <div class="mb-8">
        <BracketBearLogo className="text-brand-orange mx-auto h-48 w-48" />
      </div>
    </div>
  </body>
</html>
