---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { getKeyedCollection } from "@/utils/content";
import Welcome from "@/components/Welcome.astro";
import type { ObjectKeys } from "@/utils/typescript";
import { getProjectUrl } from "@/utils/navigation";
import ProjectCardList from "@/components/ProjectCardList.astro";

const workProjects = await getCollection("workProject");
const workSkillsById = await getKeyedCollection("workSkills");
const workProjectCatergoriesById = await getKeyedCollection(
  "workProjectCategory"
);
const workProjectsByType = workProjects.reduce(
  (acc: Record<string, typeof workProjects>, project) => {
    const type = project.data.category;

    if (!type) {
      return acc;
    }
    if (!acc[type]) {
      acc[type] = [];
    }
    acc[type].push(project);
    return acc;
  },
  {}
);
---

<Layout>
  <div>
    <title>Welcome to Bracket Bear</title>
    <Welcome />
    <div class="grid grid-cols-2 gap-4 border-y-8 border-solid border-white">
      <div
        class="sticky top-0 flex h-screen flex-col justify-center bg-red-600 p-8 text-right"
      >
        <div class="text-4xl font-bold text-white">
          Here are some of the projects I've been lucky enough to work on.
        </div>
      </div>
      <ProjectCardList />
    </div>
  </div>
</Layout>
