@theme {
  --default-font-family: 'Fira Sans', 'sans-serif';
  --heading-font-family: 'Oswald', 'sans-serif';

  /* Base Theme Colors */
  /* Brand Colors */
  --color-brand-dark: hsl(200, 0%, 15%);
  --color-brand-dark-muted: hsl(200, 0%, 75%);
  --color-brand-red: #ff4b3e;
  --color-brand-orange: #f1880d;
  --color-brand-blue: #7ebdc2;
  --color-brand-green: #98ce00;
  --color-brand-yellow: #f3dfa2;
  --color-brand-purple: #b185a7;
  --color-brand-light: #f2f0ef;

  --color-error: var(--color-brand-red);

  /* Theme Tokens - Light Mode Defaults */
  --color-primary: var(--color-brand-orange);
  --color-secondary: var(--color-brand-red);
  --color-tertiary: var(--color-brand-green);
  --color-background: var(--color-brand-light);
  --color-foreground: var(--color-brand-dark);
  --color-border: var(--color-dark);
  --color-shadow: var(--color-dark);
  --color-text-primary: var(--color-foreground);
  --color-text-secondary: var(--color-foreground-muted);
  --color-foreground-muted: color-mix(
    in srgb,
    var(--color-foreground) 80%,
    transparent
  );
  --color-background-muted: color-mix(
    in srgb,
    var(--color-background) 80%,
    transparent
  );
}
