<div class="bg-gradient-to-bl from-[#1e3a8a] to-[#9333ea] py-[50vh]">
  <div
    class="container mx-auto grid h-full grid-cols-1 items-center justify-center gap-x-8 gap-y-32 lg:grid-cols-2"
  >
    <div class="flex min-h-screen flex-col items-center justify-center">
      <div class="text-4xl font-bold text-teal-200 drop-shadow-lg">
        I am a software engineer with a passion for using technology to unlock
        creativity and solve problems.
      </div>
      <div class="text-secondary-content text-lg font-bold">
        A full-stack software engineer by trade, my coding outlet is exploring
        the space between design and technology. I love to merge the two worlds
        together to create beautiful and functional applications that use clean
        architecture and design patterns.
      </div>
    </div>
    <div
      class="col-start-2 row-start-2 flex min-h-screen flex-col items-center justify-center"
    >
      <div class="text-4xl font-bold text-teal-200 drop-shadow-lg">
        Here's another way to say it:
      </div>
      <div class="text-secondary-content text-lg font-bold">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore
        expedita ex alias eius rerum iusto voluptatem dolorem recusandae! Quos,
        quasi nam eius aut laborum eos id autem repellendus odit corporis!
      </div>
    </div>
  </div>
</div>
