---
interface Props {
  className?: string;
}
const { className = '' } = Astro.props;

const lines: string[] = [
  'Bracket Bear is a creative tech agency for creative tech agencies.',
  'We partner with experiential and immersive agencies and their clients to create immersive digital experiences together, from coding interactive exhibits to building custom content management systems.',
  'Backed by experience at two award-winning agencies, we are a team of creative problem solvers who are passionate about the experiences your audience will have.',
] as const;
---

<section class={className}>
  <div class="container mx-auto px-4 py-48">
    <h1 class="text-foreground text-center text-8xl font-medium">
      {lines.map((line) => <div class="py-12">{line}</div>)}
    </h1>
  </div>
</section>
