---
interface Props {
  className?: string;
}
const { className = '' } = Astro.props;

interface Reason {
  title: string;
  description: string;
}

const reasons: Reason[] = [
  {
    title: 'Proven Expertise',
    description:
      'Our team members have worked with some of the most innovative and award-winning agencies in the world, including Deeplocal and Downstream.',
  },
  {
    title: 'Agile & Flexible',
    description:
      "We aren't stuck in our ways. We're continuously looking for ways to improve our processes and workflows, and we can bring that same energy to your project.",
  },
  {
    title: 'Think of this later',
    description:
      'This is purely filler text. It is used to fill the space and make the page look more complete. It is not meant to be read or used for any other purpose.',
  },
];
---

<section class={className}>
  <div class="container mx-auto py-48">
    <h2 class="text-foreground mb-16 text-center text-6xl font-medium">
      Why Choose Bracket Bear?
    </h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        reasons.map((reason) => (
          <div class="bg-background border-foreground flex min-h-60 flex-col justify-between border-2 p-4">
            <h2 class="text-foreground text-4xl font-medium">{reason.title}</h2>
            <p class="text-foreground text-xl font-medium">
              {reason.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
