---
const headingParts = ["Experiential", "Full-Stack", "Software Engineer"];
---

<div class="h-screen bg-green-300">
  <div class="container mx-auto flex h-full">
    <div class="flex h-full w-full flex-col justify-center">
      {
        headingParts.map((part, index) => (
          <div class="text-6xl font-black text-gray-900">{part}</div>
        ))
      }
    </div>
    <div></div>
  </div>
</div>
